
.vs/ConsoleApplication2/v16/.suo
*.sln
*.suo
ConsoleApplication2/App.config
ConsoleApplication2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ConsoleApplication2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleApplication2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApplication2/bin/Debug/ConsoleApplication2.vshost.exe.manifest
ConsoleApplication2/bin/Debug/ConsoleApplication2.vshost.exe.config
ConsoleApplication2/bin/Debug/ConsoleApplication2.pdb
ConsoleApplication2/bin/Debug/ConsoleApplication2.exe.config
ConsoleApplication2/bin/Debug/ConsoleApplication2.exe
ConsoleApplication2/obj/Debug/ConsoleApplication2.pdb
ConsoleApplication2/obj/Debug/ConsoleApplication2.csprojResolveAssemblyReference.cache
ConsoleApplication2/obj/Debug/ConsoleApplication2.csprojAssemblyReference.cache
